:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --premary-white-color: #FFFFFF;
    --accent-shadow-color: #188CE8;
    --secondary-backgruond-color: #F5F4FA;
}
body {
color: #757575;
font-family:'Roboto', sans-serif;
background-color: #FFFFFF;
letter-spacing: 0.03em;
font-size: 14px;
line-height: 1.14;
}
/* Частковий ресет стилей браузера*/
a {
    text-decoration: none;
    color: currentColor;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Верхняя линия*/
.container {
margin-right: auto;
margin-left: auto;
width: 1200px;
padding-right: 15px;
padding-left: 15px;
/* outline: 2px solid red;
outline-offset: -2px; */
}
.header {
border-bottom: 1px solid #ECECEC;
padding-top: 24px;
padding-bottom: 24px;
}
.header-container {
display: flex;
align-items: center;
}
.nav {
display: flex;
align-items: center;
display: flex;

}
.logo { 
margin-right: 93px;
color: #2196F3;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
.logo .span {
color: #000000;
}
.logo:hover {
color: #2196F3;
}
.site-nav {
display: flex;
font-weight: 500;
letter-spacing: 0.02em;
text-decoration: none;
gap: 50px;
}
.link, .link-current {
display: block;
}
.link-current::after {
/* content: "";
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #2196F3; */
}
.link:last-child {
margin-right: 0;
}
.site-nav .link {
color: #212121;
font-weight: 500;
letter-spacing: 0.02em;
text-decoration: none;
}
.site-nav .link:hover, .site-nav .link:focus {
color: #2196F3;
}
.site-nav .link-current{
color: #2196f3;
    
text-decoration: none;
}
.contact-bloc {
display: flex;
margin-left: auto;
display: flex;
gap: 50px;
}
.item:last-child {
margin-bottom: 0; }
.contact-bloc .contact {
color: #757575;
text-decoration: none;
font-weight: 500;
letter-spacing: 0.02em;
display: flex;
align-items: center;
}
.contact-bloc .contact:hover, .contact-bloc .contact:focus {
color: #2196F3;   
}
.contact-icon {
align-items: center;
fill: currentColor;
margin-right: 10px;
}
/* Герой */
.hero {
background-position: center;
max-width: 1600px;
min-height: 600px;
background-size: cover;
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
background-color: #C4C4C4;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url('../images/fon.jpg');
padding-top: 200px;
padding-bottom: 200px;
} 
.hero .hero-title {
margin-bottom: 30px;
color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
/* button */
button {
border-radius: 4px;
border: none;
min-height: 38px;
min-width: 73px;
background-color: var(--secondary-backgruond-color);
font-family: inherit;
cursor: pointer;
color: var(--title-text-color);
}
.button-one {
display: block;
margin-left: auto;
margin-right: auto;
width: 200px;
color: var(--premary-white-color);
background-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;  
}
.button-one:hover, .button-one:focus {
background-color: var(--accent-shadow-color);
}
.button {
font-weight: 500;
font-size: 16px;
line-height: 1.62;    
}
.button-current {
color: var(--premary-white-color);
background-color: var(--accent-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
}
.button:hover, button:focus {
color: var(--premary-white-color);
background-color: var(--accent-color);
}
/* Загальні */
.section {
padding-top: 94px;
padding-bottom: 94px;
}
.link {
text-decoration: none;
color: currentColor;
}
img {
display: block;
}
ul {
list-style: none;
padding: 0; margin: 0;
    }
.visually-hidden {
 position: absolute;
width: 1px;height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.title {
color: #212121;
}
/* Особливості */
.thumb {
display: flex;
align-items: center;
justify-content: center;
width: 270px;
height: 120px;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}
.feature-list {
display: flex;
gap: 30px;
}
.feature-list .title {
margin-bottom: 10px;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.feature {
width: 270px;
}
.title .feature {
font-size: 14px;
line-height: 1.71;
}
/* Чим ми займаємся */
.section-one {
padding-bottom: 94px;
}
.section-title {
margin-bottom: 50px;
color: #212121;
font-size: 36px;
line-height: 1.16;
text-align: center;
}
.working {
display: flex;
gap: 30px;
}
/* Наша команда */
.teams {
display: flex;
}
.team-icon {
margin-right: 30px;
}
.team-wrapper .title {
margin-bottom: 10px;
}
.team-icon:last-child {
margin-right: 0;
}
.team-wrapper {
box-shadow: rgba(0, 0, 0, 0.12);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-top: none;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 5px;
padding-right: 5px;
}
.product {
text-align: center;
margin-bottom: 16px;
}
.title .product {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
}
.team-icon .title {
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}
.section-title {
margin-bottom: 50px;
}
.section-team {
padding-top: 94px;
padding-bottom: 94px;
background-color: #F5F4FA;
}
.team-icon {
background-color: #FFFFFF;
}
/* Соціаотеі мережі */
.social {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.social-team {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
background-color: #FFFFFF;
border-radius: 50%;
color: #AFB1B8;
/* outline: 2px solid red;
outline-offset: -2px; */
}
.social-team:hover, .social-team:focus {
background-color: #2196F3;
color: #FFFFFF;
}
.social-icon {
fill: currentColor
}
/* Постійні клієнти  */
.section-icon {
padding-top: 94px;
padding-bottom: 94px;
}
.company-items {
display: flex;
justify-content: space-evenly;
}
.company {
display: flex;
align-items: center;
justify-content: center;
width: 170px;
height: 92px;
background-color: #FFFFFF;
border-radius: 4px;
gap: 30px;
color: #AFB1B8;
border: 1px solid rgba(175, 177, 184, 1);
}
.company:hover, .company:focus {
color: rgba(33, 150, 243, 1);
border: 1px solid rgba(33, 150, 243, 1);;
}
.company-icon {
fill: currentColor}
/* footer */
.footer-contact {
align-items: baseline;
display: flex;
padding-top: 60px;
padding-bottom: 60px;
background-color: #2F303A;
}
.footer-one {
margin-right: 70px;
}
.logo-footer {
color: #2196F3;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
.logo-footer .span-footer {
color: #FFFFFF;
}
.address {
display: flex;
flex-direction: column;
margin-top: 20px;
}
.contact-footer {
font-size: 14px;
line-height: 1.71;
display: flex;
flex-direction: column;
gap: 9px;
}
.contact-footer .contact {
font-style: normal;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.contact-footer .contact:hover, .contact-footer .contact:focus {
color: #2196F3;    
}
.contact-footer .link-map {
color: #FFFFFF;
font-style: normal;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
}
.contact-footer .link-map:hover, .contact-footer .link-map:focus {
color: #2196F3;  
}
.social-links {
color: #FFFFFF;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
}
.social-footer {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.social-team-footer {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
color: #FFFFFF;
}
.social-team-footer:hover, .social-team-footer:focus {
background-color: #2196F3;
}
/* 2Сторінка Main */
.section-two {
padding-top: 94px;
padding-left: auto;
padding-top: auto;
padding-bottom: 94px;
}
.button-two {
display: block;
}
.button-two:hover, .button-two:focus {
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.list {
margin-bottom: 50px;
justify-content: center;;
display: flex;
gap: 8px;
}
.list-icon {
display: flex;
flex-wrap: wrap;
gap: 30px;
}
.real-work {
display: block;
flex-basis: calc((100% - 30px * 2) / 3);
}
.real-work:hover {
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.product-wrapper {
border: 1px solid #EEEEEE;
border-top: none;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 24px;
padding-right: 24px;
}
.product-wrapper .title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.title-product {
margin-top: 4px;
font-size: 16px;
line-height: 1.87;
}