.company {
    display: flex;
    justify-content: space-evenly;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        background-color: var(--premary-white-color);
        border-radius: 4px;
        gap: 30px;
        color: #afb1b8;
        border: 1px solid rgba(175, 177, 184, 1);
        transition-property: border-color, color;
        transition: color, border-color var(--primary-transition);
        overflow: hidden;
        &:hover,
&:focus {
    color: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1);
}
    }
    &__icon {
        fill: currentColor;
    }
}
