.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
        width: 450px;
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.feature-list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

   &__title {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
   margin-left: auto;
   margin-right: auto;
   @media screen and (min-width: 1200px) {
margin-left: 0;
margin-right: 0;
 }
   }
    &__text {
        @media screen and (min-width: 768px) {
           max-width: 354px;
        }
        @media screen and (min-width: 1200px) {
           max-width: 270px;
        }
    }
    &__icon {
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        @media screen and (min-width: 768px) {
            max-width: 354px;
         }
         @media screen and (min-width: 1200px) {
            max-width: 270px;
         }
     }
    }