.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
        width: 450px;
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.feature-list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

   &__title {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
   text-align: center;
   @media screen and (min-width: 1200px) {
text-align: left;
 }
    &__icon {
        display: flex;
        flex-wrap: nowrap;
        max-width: 450px;
        @media screen and (min-width: 768px) {
            max-width: 354px;
         }
         @media screen and (min-width: 1200px) {
            max-width: 270px;
         }
     }
    }
    &__text {
        max-width: 450px;
        @media screen and (min-width: 768px) {
            max-width: 354px;
         }
         @media screen and (min-width: 1200px) {
            max-width: 270px;
         }
    }
}