.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    &-contact {
         display: flex;
    text-align: center;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
        @media screen and (min-width: 768px) {
           flex-direction: row;

        }
        @media screen and (min-width: 1200px) {
        }
        
    }
    &-one {
        @media screen and (min-width: 768px) {
            text-align: left;
        }
        @media screen and (min-width: 1200px) {
            margin-left: 0;
            margin-right: 70px;
            text-align: left;
        }
    }
}

.footer__logo-footer {
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
        font-size: 24px;
        line-height: calc(28/24);
        display: flex;
        justify-content: center;
        @media screen and (min-width: 768px) {
            display: block;
        }
       @media screen and (min-width: 1200px) {
        margin-right: 70px;
        font-size: 26px;
    line-height: 1.19;
    }
  
}
.footer__logo-footer .footer__span-footer {
    color: var(--premary-white-color);
}