.nav {
    display: flex;
    align-items: center;
    display: flex;
}

.nav__logo {
    margin-right: 93px;
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.nav__logo .nav__span {
    color: rgba(0, 0, 0, 1);
}

.nav__logo:hover {
    color: #2196f3;
}

.nav__item {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    gap: 50px;

    & .nav__link--current {
        color: #2196f3;
        text-decoration: none;
    }
    & .nav__link {
        color: #212121;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color var(--primary-transition);
        overflow: hidden;
    }
    
    & .nav__link:hover,
    & .nav__link:focus {
        color: #2196f3;
    }    
}


.nav__link--current::after {
    position: relative;
    opacity: 0;
    content: "";
    display: flex;
    bottom: 0px;

    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    transition: color var(--primary-transition);
    overflow: hidden;
}

.nav__link--current:hover::after {
    opacity: 1;
}

.nav__link:last-child {
    margin-right: 0;
}
