.list-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.real-work {
    flex-basis: calc((100% - 30px * 2) / 3);
    display: block;
    transition: color, box-shadow var(--primary-transition);
    overflow: hidden;
    &:hover,
&:focus {
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.product-img {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: var(--primary-transition);
}
.real-work:hover .overlay,
.real-work:focus .overlay {
    transform: translateY(-100%);
}
.overlay__action {
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    transition: var(--primary-transition);
    overflow: hidden;
    color: var(--premary-white-color);
}
.product-wrapper {
    border: 1px solid #eeeeee;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    &__title {
        font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    }
    &__title-product {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }
}
