.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-one {
    padding-bottom: 94px;
}
.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
}
.section-icon {
    padding-top: 94px;
    padding-bottom: 94px;
}